<a href="https://colab.research.google.com/github/Cesar012782/Entregas-Cesar-Saenz/blob/master/Practica_M0S2_Cesar_saenz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nueva sección

In [ ]:
import sqlite3
conn = sqlite3.connect('PracticaM0S2.db')
print("Conexión Estable ..........")
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS EMPLEADOS")

In [ ]:
try:
  TABLA_EMPLEADOS ="""CREATE TABLE IF NOT EXISTS EMPLEADOS(
                    ID_EMPLEADOS INT PRIMARY KEY NOT NULL,
                    NOMBRE TEXT NOT NULL,
                    APELLIDO1 TEXT NOT NULL,
                    APELLIDO2 TEXT,
                    EMAIL TEXT,
                    DIRECCION TEXT,
                    EDAD INT,
                    GENERO CHAR(),
                    SUELDO FLOAT)"""
  print("TABLA CREADA EXITOSAMENTE.......'\n'")
  cursor.execute(TABLA_EMPLEADOS)  
  conn.commit()
  conn.close()
except sqlite3.OperationalError as error:
  print("Error al abrir: ", error)

In [ ]:
try:
  sql_instruction = ''' INSERT INTO EMPLEADOS
      (NOMBRE, APELLIDO1, APELLIDO2, EMAIL, DIRECCION, EDAD, GENERO, SUELDO) values
      ('Cesar', 'Augusto', 'Saenz', 'Jimenez', 'cesarsaenz13@hotmail.com', 'Cra 45A # 80 Sur 127' ,'M', '38000'),
      ('Maria', 'Helena', 'Bustamante', 'Gonzalez', 'cesarsaenz13@hotmail.com', 'Cra 83 # 43 Norte 1' ,'F', '30000'),
      ('Jesus', 'Miguel', 'Rhenals', 'Aragon', 'cesarsaenz13@hotmail.com', 'Cra 123B # 25 Este 33' ,'M', '39000')'''
  #cursor.execute(TABLA_EMPLEADOS)
  print("DATOS INGRESADOS CORRECTAMENTE........")
  conn.commit()
except sqlite3.OperationalError as error:
  print("Error al abrir: ", error)

In [ ]:
try:
  sql_instruction = "SELECT * FROM EMPLEADOS" 
  cursor.execute(TABLA_EMPLEADOS)
  result = cursor.fetchall();
  print(result)
except sqlite3.OperationalError as error:
  print("Error al abrir: ", error)