<a href="https://colab.research.google.com/github/Cesar012782/Entregas-Cesar-Saenz/blob/master/Practica_M0S2_Cesar_saenz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
conn = sqlite3.connect('example.db')
print("ConexiÃ³n Estable ..........")

In [ ]:
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS EMPLEADOS")

In [ ]:
TABLA_EMPLEADOS ='''CREATE TABLE EMPLEADOS(
                    ID_EMPLEADOS PRIMARY KEY INT NOT NULL,
                    NOMBRE CHAR(30) NOT NULL,
                    APELLIDO1 CHAR(20) NOT NULL,
                    APELLIDO2 CHAR(20),
                    EMAIL CHAR(20),
                    DIRECCION CHAR(40),
                    EDAD INT,
                    GENERO CHAR(),
                    SUELDO FLOAT)'''
cursor.execute(TABLA_EMPLEADOS)
print("TABLA CREADA EXITOSAMENTE........")
#except sqlite3.OperationalError as error:
  #print("Error al abrir: ", error)
conn.commit()
#

In [ ]:
sql_instruction = ''' INSERT INTO EMPLEADOS
    (NOMBRE, APELLIDO1, APELLIDO2, EMAIL, DIRECCION, EDAD, GENERO, SUELDO) values
    ('Cesar', 'Augusto', 'Saenz', 'Jimenez', 'cesarsaenz13@hotmail.com', 'Cra 45A # 80 Sur 127' ,'M', '38000'),
    ('Maria', 'Helena', 'Bustamante', 'Gonzalez', 'cesarsaenz13@hotmail.com', 'Cra 83 # 43 Norte 1' ,'F', '30000'),
    ('Jesus', 'Miguel', 'Rhenals', 'Aragon', 'cesarsaenz13@hotmail.com', 'Cra 123B # 25 Este 33' ,'M', '39000')'''
cursor.execute(TABLA_EMPLEADOS)
print("DATOS INGRESADOS CORRECTAMENTE........")
conn.commit()

In [ ]:
sql_instruction = "SELECT * FROM EMPLEADOS" # * => TODOS LOS REGISTROS DE TODAS LAS COLUMNAS
cursor.execute(TABLA_EMPLEADOS)

result = cursor.fetchall();
print(result)